.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 25px;
}
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%;
  margin: 25px;
}
.change-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65vw;
  align-items: center;
  align-self: center;
}
.heading {
  font-size: 55px;
}
.name {
  font-weight: 800;
  font-size: 30px;
}
.info {
  color: #171f46;
  text-align: center;
}
.company {
  color: #171f46;
  font-size: 20px;
  font-weight: 700;
}
.arrow {
  cursor: pointer;
}
.arrow-btn {
  border: none;
  outline: none;
  background-color: transparent;
}
